@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url(../../assets/styles/normalize.css);
@import url(../../assets/styles/common.css);
@import url(../../assets/styles/header.css);
@import url(../../assets/styles/footer.css);

.header {
  height: 80px;
  width: 100%;  
}

.header-content__wrapper {
  height: 386px;
  margin: 0 auto;    
  background: url(../../assets/images/panda_bg.jpg);
  background-size: cover;
  background-position: center;
}

    /* Pick */

.pick {
  width: 100%;
  height: 1482px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.pick__wrapper {
  width: 1160px;
  margin: 0 auto;
  padding-top: 40px;
}

.pick-describe {
  color: #ffffff;
}

.pick-describe__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  margin: 0;
}

.pick-describe p {
  line-height: 140%;
  margin-top: 10px;
}

.pick-describe__subtitle {
  margin: 45px 0 60px;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: var(--orange);
}

.pick-feed {
  width: 100%;
  height: 964px;
  padding: 40px 92px 62px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  color: var(--black_blue);  
}

.pick-feed__title {
  margin: 0;
  padding-right: 10px;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: var(--orange);
  text-align: center;
}

.pick-feed > p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.count-animal {
  width: 540px;
  display: flex;
  margin: 60px auto 40px;  
  text-align: center;
}

.count-animal__count {
  height: 246px;
  
}

.count-animal__digit {
  margin: 105px 0 0;
  font-size: 72px;
  line-height: 80%;  
  text-transform: uppercase;
  color: var(--black);
}

.count-animal__text {
  margin-top: 12px;
  width: 159px;
  font-weight: 400;
  line-height: 140%;  
}

.count-animal__multi {
  width: 14px;
  height: 14px;
  margin: 130px 64px 0 5px;  
  background: url(../../assets/icons/x_icon.png);
  background-repeat: no-repeat;
}

.count-animal__animal {
  
  width: 280px;
  height: 246px;  
  background: url(../../assets/images/panda_widget.png);
}

    /* Pay bar */

.pick-pay {
  position: relative;
  align-self: flex-start;
  margin-bottom: 48px;
}

.pay__title {
  color: var(--black);
  line-height: 140%;
  padding-left: 4px;  
  font-weight: 400;  
  line-height: 140%;
}

.pay__line-block {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}

.pay__point {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 88px;
  z-index: 4;

}

.pay__dot {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.pay__inner-dot {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--yellow);
}

.pay__dot:hover .pay__inner-dot{
  transform: scale(1.5);
}

.pay__dot.active .pay__inner-dot:after {
  position: absolute;
  transform: translate(-2%, -1%);
  top: -6px;
  left: -6px;
  content: '';
  width: 23px;
  height: 23px;
  box-sizing: border-box;
  border: 2px solid var(--orange);
  border-radius: 50%;
}

.pay__dot.active .pay__inner-dot:before {
  position: absolute;
  transform: translate(-2%, -1%);
  top: -14px;
  left: -14px;
  content: '';
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid var(--orange);
  border-radius: 50%;
}

.pay__dot.active ~ .pay__cost {
  color: var(--orange);
}

.pay__cost {
  font-size: 1.625rem;
  color: #333B41;
  line-height: 140%;  
}

.pay__line {
  position: absolute;
  width: 976px;
  height: 27px;
  border-radius: 2px;
  background-color: #404950;
  top: 50px;
  left: 0px;
  z-index: 2;
}

.pay__line:after {
  content: '';
  position: absolute;
  width: 915px;
  height: 2px;
  top: 12px;
  left: 30px;
  background-color: #72828E;
}
.feed__form{
  position: relative;
  width: 298px;
  margin: 0 auto;
}
.feed__form:after {
  position: absolute;
  content: '$';
  color: #929699;
  width: 10px;
  height: 20px;
  top: 14px;
  right: 18px;
  font-size: 1.35rem;
}
.feed__form form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8px;
}

.feed__input {  
  width: 268px;
  height: 54px;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #929699;
  border-radius: 2px;
  padding: 16px 9px;
  margin-left: -5px;
  margin-bottom: 25px;

  font-size: 1.25rem;
}
.feed__input:invalid {
  border-color: var(--rad);
  color: var(--rad);
}
textarea:focus, input:focus{
  outline: none;
  border-color: var(--green);
  color: var(--green);
}
.feed__input:invalid::placeholder {
  border-color: var(--rad);
  color: var(--rad);

}
.feed__input::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: #929699;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.feed__input::-webkit-outer-spin-button,
.feed__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.radio-container {
  color: #333B41;
  display: flex;
  align-self: start;
  padding-left: 38px;
  gap: 40px;
  margin-bottom: 30px;
}

.radio-container label {
  cursor: pointer;
}

.custom-radio-btn {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 1px solid #FE9013;
  border-radius: 50%;
  vertical-align: text-top;
  margin-right: 8px;
  cursor: pointer;
}

.custom-radio-btn::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #a3a4a7;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}

.real-radio-btn:checked + .custom-radio-btn::before {
  transform: translate(-50%, -50%) scale(1);
}

.real-radio-btn {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.feed__share {
  font-weight: 300;
  line-height: 140%;    
  margin-top: 30px;
}

.second-btn {
  border-radius: 5px;
  margin-top: 31px;
  display: block;
}


@media (max-width: 1220px) {  

  .header-content__wrapper {
    max-width: 1600px;
    height: 390px;
    background-size: cover;
    background-position: center;
  }

  .pick {
    height: 1333px;
  }

  .pick__wrapper {
    width: 940px;
  }

  .pick-describe__title {
    padding-right: 100px;
    margin-bottom: 32px;
  }

  .pick-describe__subtitle {
    margin-bottom: 39px;
  }

  .pick-feed {
    height: 918px;
    padding: 20px 35px 0;
  }

  .pick-feed__title {
    padding-right: 13px ;
  }

  .pick-feed > p {
    margin-top: 10px;
    padding-left: 12px;
  }

  .count-animal {
    margin-bottom: 38px;
  }

  .count-animal__count {
    margin: 0 4px 0 -4px;
  }

  .pay__title {
    padding-left: 30px;
    transform: translateY(10px);
  }

  .pay__line-block {
    margin-left: 3px;
    gap: 40px;
  }

  .pay__line {
    width: 810px;
    margin-left: 30px;
  }

  .pay__line:after {
    width: 785px;
    left: 11px;
  }

  .point__hidden {
    display: none;
  }

  .feed__form form {
    padding-left: 5px;
  }

  .feed__form:after {
    right: 26px;
  }

  .feed__input {
    padding: 10px 9px 18px;
  }

  .radio-container {
    gap: 47px;
  }

  .footer-second__nav {
    left: 305px;
  }
}


@media (max-width: 999px) {


  .header {
    height: 34px;  
  }

  .header-content__wrapper {
    height: 336px;
    background-size: 215%;
    background-position: 37% 50%;
  }


      /* Pick */


  .pick {
    height: 1333px;
  }

  .pick__wrapper {
    width: 600px;
    padding-top: 30px;
  }

  .pick-feed {
    width: 600px;
    height: 918px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
  }

  .pick-describe__title {
    font-size: 24px;
    line-height: 120%;
    padding-right: 0px;
    margin-bottom: 20px;
  }

  .pick-describe__subtitle {
    margin: 28px 0 30px;
  }

  .pick-feed__title{
    padding-top: 10px;
    padding-right: 0px;
  }
  .pick-feed > p {
    margin-top: 20px;
    padding-left: 0px;
  }

  .count-animal {
    margin-top: 50px;
  }


      /* Pay bar */


  .pay__line {
    width: 600px;
    margin-left: 0px;
  }
  
  
}