@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url(../../assets/styles/normalize.css);
@import url(../../assets/styles/common.css);
@import url(../../assets/styles/header.css);
@import url(../../assets/styles/footer.css);


      /* Header */

.header-content__wrapper {  
  max-width: 100%;
  height: 700px;
  padding: 0 30px;
  margin: 0 auto;    
  background: url(../../assets/images/panda_bg.jpg);
  background-size: cover;
  background-position: center;
}

.watch {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content__promo {
  width: 574px;
  height: 474px;
  margin: 12px 0 60px;
  background: url(../../assets/images/watch_your.png);
}

.header-content__btn {
  margin-left: 77px;
}

        /* BackStage */

.backstage {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.backstage-content {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  height: 403px;
  margin: 140px auto 160px;  
}

.backstage-content__img {
  width: 609px;
  height: 100%;
  background: url(../../assets/images/bamboo-cap.png);
}

.backstage-content__text {
  width: 465px;
  height: 100%;
  color: var(--black_blue);
}

.backstage__flower {
  width: 293px;
  height: 605px;
  background: url(../../assets/images/flower_1.png);
  position: absolute;
  right: -90px;
  top: 12px;
}

.backstage-content__text-title {
  margin: 0 0 22px;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
}

.backstage-content__text-first {
  font-weight: 400;
  line-height: 130%;
}

.backstage-content__text-subtitle {
  margin: 54px 0 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.backstage-content__text-second {
  font-weight: 400;
  line-height: 140%;
}

    /* Pets */

.pets {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.pets-content {
  position: relative;
  width: 1160px;
  overflow: hidden;
  margin: 0 auto;
}

.pets-content__arrow {
  position: relative;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B, #FE9013);
  cursor: pointer;
  z-index: 10;
}

.pets-prev {
  position: absolute;
  top: 424px;
  left: 20px;
  z-index: 10;
}

.pets-next {
  position: absolute;
  top: 424px;
  right: 20px;
  z-index: 10;
}

.img-arrow {
  position: absolute;
  top: 40%;
  left: 35%;
}

.arrow-right {
  transform: rotate(180deg);
}

.pets-cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 872px;
  margin: 20px auto;
  position: relative;    
}

.pets-slider {
  display: none;
  flex-wrap: wrap;
  width: 1160px;
  height: 872px;
  margin: 0 auto;
  gap: 20px 30px;
  animation: 1.5s ease-in-out;
  position: relative;
  overflow: hidden;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.active,
.next {
  display: flex;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.pet-cards__card {
  display: flex;
  flex-direction: column;
  width: 366px;
  height: 426px;
  border: 1px solid var(--orange);
  border-radius: 5px;  
}

.pet-cards__card:hover .card__img {
  border-radius: 5px;
  transform: scale(1.07);  
}

.pet-cards__card:hover .card-description {
  transform: translateY(-49px) scale(1.07);
  border-radius: 5px;
  background: rgb(0, 0, 0, 0.5);
  color: #ffffff;
  
}

.card__img {  
  transition: transform 0.5s ease;
}

.card-description {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  height: 60px;
  transition: transform 0.5s ease;
}

.card-description__name {
  text-transform: uppercase;
}

.card-description__native {
  font-weight: 300;
  font-size: 15px;
}

.card-description__name, .card-description__native {
  margin: 0 5px;
  padding-left: 10px;
}

.card-description__food {
  padding-right: 9px;
}

.pets__btn {
  display: block;
  margin: 80px auto 100px;
  background: var(--orange);
}

.pets__flower-left {
  position: absolute;
  width: 292px;
  height: 460px;
  left: 0px;
  bottom: 0px;
  background: url(../../assets/images/palm_foto.png);
}

.pets__flower-right {
  position: absolute;
  width: 368px;
  height: 275px;
  right: 0;
  bottom: 0px;
  background: url(../../assets/images/strelitzia.png);
}


      /* Pick and feed a friend */


.pick {
  width: 100%;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding: 69px 0 100px;
}

.pick-content {
  max-width: 1160px;
  height: 835px;
  margin: 0 auto;
  padding: 30px 0 50px ;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  color: var(--black_blue);
}

.pick-content__title {
  margin-top: 10px;
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: var(--orange);
}

.pick-content__animal {  
  padding-left: 100px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;  
}

.pick-content__covid { 
  margin: 10px 0;
  padding-left: 100px; 
  line-height: 130%;
}

.pick-content__support {
  margin: 10px 0;
  padding-left: 100px;
  font-weight: 400;
  line-height: 130%;
}

.pick-content__support > a {
  color: var(--black_blue);
  border-bottom: 1px solid var(--orange);
}

.pick-content__howwork {
  margin: 60px 0 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
}

.pick-howwork {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.pick-content-cards {
  width: 168px;
  height: 244px;
  font-weight: 400;  
  line-height: 140%;
}

.pick-content__arrow {
  width: 69px;
  height: 35px;
  margin-top: 60px;
  background: url(../../assets/images/Vector-pick.png);
}

.pick-content-cards__card {
  width: 100%;
  height: 168px;
  margin-bottom: 30px;
  border: 1px solid var(--orange);
  border-radius: 5px;
  background: #ffffff center no-repeat;   
}

.card-pay {
  background-image: url(../../assets/images/pay.png);
}

.card-zoo {
  background-image: url(../../assets/images/zoo.png);
}

.card-monkey {
  background-image: url(../../assets/images/monkey.png);
}

.pick__btn {
  display: block;
  margin: 60px auto 0;
}

    /* Testimonials */

.testimonials {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.testimonials-wrapper {
  width: 1160px;
  height: 919px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 104px;
  color: var(--black_blue);
}

.testimonials__title {
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
}

.testimonials-content {
  width: max-content;
  display: flex;
  gap: 29px;
  transition: transform 1s ease;
}

.testimonials-card {
  width: 268px;
  height: 391px;
  background: #F1F3F2;
  border: 2px solid #E0D8F0;
  border-radius: 20px;
  overflow: hidden;
  padding: 15px;
}

.testimonials-card__title {
  display: flex;
}

.testimonials-card__icon {
  display: block;
  width: 37px;
  height: 37px;
}

.testimonials-card__name {
  margin: 0;
  padding-left: 10px;
  font-weight: 400;
  line-height: 120%;
  color: var(--black);
}

.testimonials-card__info {
  margin: 0;
  padding-left: 10px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}

.testimonials-content__card__text {
  font-weight: 300;
  margin-top: 10px;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
}

.testimonials-bar  {
  margin: 0 auto;
  cursor: pointer;
  width: 600px;
}

.testimonials__slider {
  width: 599px;
  height: 8px; 
  appearance: none;
  margin: 19px 0 32px 0;
  background-color: #F1F3F2;
  border: 1px solid;
  border-radius: 5px;
  border-image: linear-gradient( to left top, #FEBDAB 13%, #F3A9F8 66%, #E0D8F0 100%, #EAF7FE 100%, #EAF7FE 100%);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color:#F9804B;
  width: 80px;
  height: 6px;
  border-radius: 10px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  background-color:#F9804B;
  width: 80px;
  height: 6px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.second-btn {
  border-radius: 5px;
  margin-top: 31px;
  display: block;
}

.testimonials__btn {
  margin-top: 0; 
}

.testimonials__flower {
  position: absolute;
  right: 0;
  bottom: -130px;
  z-index: -1;
  width: 247px;
  height: 408px;
  background: url(../../assets/images/leav_foto.png);
}
  

@media (max-width: 1500px){
  .backstage__flower {
    display: none;
  }

  .pets {
    height: 1145px;
  }

  .pets__flower-right {
    width: 241px;
    height: 180px;
    bottom: 0px;
    background-size: contain;
  }

  .pets__flower-left {
    width: 194px;
    height: 202px;
    bottom: 0px;
    background: url(../../assets/images/palm_foto_small.png);    
  }

}

@media (max-width: 1350px) {

  .pets {
    width: 100%;
    height: 1074px;
  }

  .pets-content {
    width: 940px;
  }

  .pets-cards {
    gap: 92px 30px;
    width: 940px;
    height: 801px;
  }

  .pet-cards__card {
    width: 293px;
    height: 354px;
  }

  .pets-prev {
    top: 389px;
    left: 323px;
  }

  .pets-next {    
    top: 389px;
    right: 323px;
  }

  .pet-cards__card:hover .card-description {
    transform: translateY(-52px) scale(1.07);
    border-radius: 5px;
  }

  
}

@media (max-width: 1220px) {
  
  .header-nav__wrapper {
    position: relative;
    z-index: 2;
  }

  .header-content__wrapper {
    max-width: 1600px;
    height: 504px;
    background-size: 120%;
    background-position: 50% 64%;
  }

  .header-content__promo {
    width: 458px;
    height: 374px;
    margin: -10px 55px 40px 0;    
    background: url(../../assets/images/watch_your_small.png);
    background-position: left center;
  }

  .header-content__btn {
    margin-left: 0px;
  }

      /* Backstage */

  .backstage-content {
    max-width: 940px;
    margin: 110px auto 137px;
  }

  .backstage-content__img {
    width: 455px;
    height: 408px;
    background: url(../../assets/images/bamboo-cap_small.png);
  }

  .backstage-content__text {
    margin-top: -10px;
    padding-left: 10px;    
  }

  
      /* Pick and feed a friend */

  .pick {
    height: 876px;
    padding: 30px 0 50px;
  }

  .pick-content {
    width: 940px;
    height: 796px;
  }

  .pick-content__title {
    margin: 0;
  }

  .pick-content__animal {
    padding-left: 49px;
    margin-top: 20px;
    margin-bottom: 21px;
  }

  .pick-content__animal,
  .pick-content__covid,
  .pick-content__support {
    padding: 0 40px 0 49px;
  }

  .pick-content__howwork {
    margin-top: 40px;
  }

  .pick__btn {
    margin-top: 70px;
  }

        /* Testimonials */

  .testimonials-wrapper {
    width: 940px;
    height: 842px;
    padding-top: 65px;
  }   

  .testimonials__title {
    margin-bottom: 28px;
  }

  .testimonials-card {
    width: 294px;
  }
  
  .hidden_card {
    display: none;
  }

  .testimonials-bar {
    padding: 0;
    width: 390px;
  }

  .testimonials__slider {
    width: 390px;
    margin: 21px 0 30px 0; 
  }

  input[type=range]::-webkit-slider-thumb {
    width: 75px;
    border-radius: 5px;
  }

  input[type=range]::-moz-range-thumb {
    width: 75px;
    border-radius: 5px;
  }

  .testimonials__flower {
    width: 196px;
    height: 325px;
    background-size: contain;
    bottom: -85px;
  }

  .testimonials__btn {
    margin-top: 22px; 
  }

}


@media (max-width: 999px) {

  body {
    height: 3580px;
  }

  .header-content__wrapper {
    padding: 0;
    height: 336px;
    background-size: 120%;
    background-position: 50% 60%;
  }

  .header-content {
    flex-direction: row-reverse;
    padding-left: 20px;
  }

  .header-content__promo {
    width: 294px;
    height: 243px;
    margin: 12px 0 60px;
    background: url(../../assets/images/watch_your_tablet.png);
  }

  .watch {
    max-width: 610px;    
  }

  .header-content__btn {
    margin-right: 13px;
    margin-bottom: 16px;
    align-self: flex-end;
  }

      /* BackStage */

  .backstage {
    height: 507px;
  }

  .backstage-content {
    max-width: 640px;
    margin-top: 70px;
  }

  .backstage-content__img{
    display: none;
  }

  .backstage__flower {
    background-size: cover;
    width: 231px;
    height: 476px;
    display: block;
    right: -100px;
    top: -3px;
  }

  .backstage-content__text {
    width: 495px;
    padding-left: 20px;
  }

  .backstage-content__text-title{
    padding-left: 4px;
  }

  .backstage-content__text-subtitle {
    margin: 30px 0 20px;
    padding-left: 4px;
  }

      /* Pets */

  .pets {
    height: 970px;
  }

  .pets-content {
    width: 600px;
  }

  .pets-prev {
    position: absolute;
    top: 342px;
    left: 223px;
  }
  
  .pets-next {
    position: absolute;
    top: 342px;
    right: 223px;
  }

  .pets-cards {
    width: 600px;
    height: 756px;
    margin-top: 0;
    /* gap: 92px 30px; */
    overflow: hidden;
  }

  .pet-cards__card {
    width: 285px;
    height: 332px;
  }

  .pets-slider {
    height: 756px;
    gap: 92px 30px;
  }

  .card__hidden {
    display: none;
  }

  .card-description__name {
    font-size: 12.5px;
  }

  .card-description__native {
    font-size: 11.7px;
  }

  .card-description__name, .card-description__native {
    padding-left: 8px;
  }

  .card-description__food img {
    height: 29px;
  }

  .pets__btn {
    margin: 60px auto 100px;
  }

  .pets__flower-left {
    width: 194px;
    height: 202px;
    left: -60px;
    bottom: 0px;    
  }
  
  .pets__flower-right {
    width: 175px;
    height: 131px;
    right: 0;
    bottom: 0px;    
  }

     /* Pick and feed a friend */
  
  .pick {
    padding: 20px 0;
    height: 781px;
  }

  .pick-content {
    max-width: 640px;
    height: 741px;
    padding: 10px 0 50px ;
  }

  .pick-content__title {
    font-size: 42px;
  }

  .pick-content__animal {
    padding: 0 20px;
    font-size: 22px;
  }

  .pick-content__covid,
  .pick-content__support {
    padding: 0 20px;
  } 

  .pick-howwork {
    position: relative;
    gap: 42px;
    margin-left: -10px;
  }

  .pick-content__howwork {
    margin: 30px 0 20px;
  }

  .pick-content__arrow {
    margin: 0;
    width: 89px;
    height: 29px;
    background: url(../../assets/images/arrow_green.png);
  }

  .first-arrow {
    position: absolute;
    top: -16px;
    left: 167px;
    z-index: 3;

  }

  .second-arrow {
    position: absolute;
    top: -16px;
    right: 185px;
    z-index: 3;
  }

  .pick__btn {
    margin: 40px auto 0;
  }


      /* Testimonials */


  .testimonials-wrapper {
    width: 600px;
    height: 668px;
    padding-top: 25px;
  }

  .testimonials-content__table {
    height: 358px;
    overflow-y: hidden;
  }
  
  .testimonials-content {
    width: 600px;
    height: max-content;
    overflow-y: hidden;
    flex-direction: column;
    gap: 15px;    
  }

  .overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 150vh;
    background: rgba(41, 41, 41, 0.6);
    z-index: 2;    
  }

  .testimonials-card {
    width: 100%;
    height: 109px;
    cursor: pointer;
  }

  .modal-card {    
    width: 268px;    
    margin: 100px auto;
    background: #F1F3F2;
    border: 2px solid #E0D8F0;
    border-radius: 20px;
    overflow: hidden;
    padding: 15px;
    z-index: 5;
  }

  .card-close {
    text-align: right;    
  }

  .modal-close {
    cursor: pointer;
  }

  .testimonials-bar {
    display: none;
  }

  .testimonials__btn {
    width: 240px;
    margin: 40px auto; 
  }

  .testimonials__flower {
    width: 116px;
    height: 204px;
    background-size: cover;
    bottom: -70px;
  }
}

@media (max-width: 639px) {

  body {
    height: 4270px;
  }

  .header-content {
    flex-direction: column;    
  }

  .watch {
    max-width: 320px;
  }

  .header-content__promo {
    width: 147px;
    height: 121px;
    margin: 22px 10px 65px 0;
    background-size: cover;
    align-self: flex-end;
  }

  .header-content__wrapper {
    height: 187px;
    background-size: 120%;
    background-position: 47% 50%;
    padding: 0;
  }

  .backstage {
    height: 532px;
  }

  .backstage-content {
    max-width: 320px;
    margin-top: 104px;
  }

  .backstage-content__text-title{
    font-size: 24px;
    padding-left: 0;
    margin: 10px 0 0;
  }

  .backstage-content__text {
    padding: 0 10px;
  }

  .backstage-content__text-first {
    margin-top: 11px;
  }

  .backstage-content__text-subtitle {
    margin: 21px 0 10px;
    padding-left: 0px;
  }

  .backstage-content__text-second {
    margin: 10px 0;
  }

  .backstage__flower {
    width: 105px;
    height: 217px;
    right: -72px;
    top: 39px;
  }

  
      /* Pets */

  .pets {
    height: 1521px;
  }

  .pets-content {
    width: 320px;
  }

  .pets-cards {
    max-width: 285px;
    height: 1388px;
    gap: 20px;
  }

  .pets-slider {
    height: 1388px;
    gap: 20px;
  }

  .pets-prev,
  .pets-next {
    display: none;
  }

  .pets__btn {
    margin-top: 20px;
  }

  .pets__flower-left {
    width: 62px;
    height: 72px;
    left: -10px;
    bottom: 0px; 
    background-size: cover;   
  }
  
  .pets__flower-right {
    background: url(../../assets/images/strelitzia_mob.png);
    width: 68px;
    height: 71px;
    right: 0px;
    bottom: 0px;    
  }

      /* Pick and feed a friend */
  
  .pick {
    padding: 20px 10px;
    height: 1082px;
  }

  .pick-content {
    max-width: 300px;
    height: 1042px;
    text-align: center;
    padding-bottom: 0px;
  }

  .pick-content__title {
    font-size: 24px;
    margin-top: 12px;
  }

  .pick-content__animal {
    padding: 0px;
    margin-top: 10px;
    font-size: 18px;
  }

  .pick-content__covid,
  .pick-content__support {
    display: none;
  } 

  .pick-content__howwork {
    font-size: 24px;
    margin: 9px 0 18px;
  }

  .pick-howwork {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-left: -0px;
    text-align: left;
  }

  .pick-content-cards {
    height: 222px;
  }

  .pick-content-cards__card {
    margin-bottom: 0;
  }

  .pick-content-cards p {
    margin: 10px 0;
  }

  .card-monkey {
    margin-top: 9px;
  }

  .pick-content__arrow {
    transform: rotate(86deg);
  }

  .first-arrow {
    position: absolute;
    top: 192px;
    left: 207px;
    z-index: 3;

  }

  .second-arrow {
    position: absolute;
    top: 440px;
    left: 207px;
    z-index: 3;
  }

  .pick__btn {
    margin: 48px auto 0;
  }


    /* Testimonials */


  .testimonials-wrapper {
    max-width: 300px;
    height: 550px;
    padding-top: 0px;
  }

  .testimonials__title {
    font-size: 24px;
    margin: 30px 0 18px;
  }

  .testimonials-card {
    max-width: 300px;
    padding: 10px 15px;
  }

  .testimonials-card__name,
  .testimonials-card__info {
    padding-left: 5px;
  }

  .testimonials__btn {
    margin: 30px auto; 
  }

  .testimonials__flower {
    width: 61px;
    height: 86px;
    transform: rotate(-15deg);
    bottom: -25px;
    right: -5px;
  }
}


