.footer {
  width: 100%;
  height: 443px;
  background: #111115;
  color: #ffffff;
}

.footer ul {
  list-style: none;

}

.logo_mob {
  display: none;
}

.footer-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.footer-btn > .second-btn {
  margin: 63px 0 44px;
}

.footer-first__social {
  padding: 0;
}

.social_item:hover svg circle {
  fill: var(--green);
}

.social_item:hover {
  color: var(--green);
}

.social {
  display: inline-block;
  height: 30px;
  vertical-align: middle;
  padding-left: 8px; 
  font-weight: 400;  
  line-height: 100%;
}

.footer-second {
  display: flex;  
  align-items: flex-end;
}

.footer-second__nav {
  display: flex;
  gap: 58px;
  padding: 0 0 15px 70px;
  font-weight: 400;
}

.footer-third {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-third__subscribe p {
  margin-top: 0;
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;  
}

.footer__email {
  width: 228px;
  height: 42px;
  background: transparent;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid var(--orange);
  border-radius: 3px;
  color: #ffffff;
}

.footer__email::placeholder {
  color: #ffffff;
}

.footer__submit {
  width: 129px;
  height: 42px;
  background: var(--gray_light);
  border: 1px solid var(--rad);
  border-radius: 5px;
  color: var(--rad);
  cursor: pointer;
}

.footer__submit:active {
  transform: scale(0.95);
  color: var(--green);
  border-color: var(--green)
}

.footer__email:valid {
  border-color: var(--green)
}

.footer__email:valid + .footer__submit {
  color: var(--black);
  border-color: var(--black_blue);
}

.footer-third__copyright {
  font-weight: 100;
  line-height: 130%;
  text-align: right;
  padding-bottom: 20px;
}

.footer-third__copyright p {
  margin: 10px 0;
}


@media (max-width: 1220px) {

  .footer-wrapper {
    width: 940px;
    position: relative;
  }

  .footer-second__nav {
    position: absolute;
    left: 290px;
    width: 332px;
    gap: 48px;
    padding: 0 0 15px 0;
  }

  .footer__email {
    margin-right: 5px;
  }

  .footer__submit{
    margin-right: 32px;
  }
}


@media (max-width: 999px) {

  .footer {
    height: 282px;    
  }

  .footer-wrapper {
    max-width: 600px;
    padding: 12px 0;
    flex-direction: column;
  }

  .footer-first {
    display: flex;
    justify-content: space-between;
  }

  .footer-btn > .second-btn {
    margin-top: 28px;
  }

  .footer-third__subscribe {
    display: none;
  }

  .social {
    display: none;
  }

  .footer-second__nav {
    position: absolute;
    left: 0px;
    bottom: -6px;
    width: 0px;
    gap: 37px;
  }

  .footer-first__social {
    display: flex;
    margin: 0;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
  }

  .footer-third__copyright {
    padding-bottom: 0;
    padding-top: 13px;
  }
} 


@media (max-width: 639px) {

  .footer {
    height: 334px;
  }

  .footer-wrapper {
    padding: 18px 0 0;
    max-width: 300px;
    height: 334px;
  }

  .logo_main {
    display: none;
  }

  .logo_mob {
    display: block;
  }

  .logo_mob img {
    display: block;
    margin: 0 auto;
  }

  .footer-btn > .second-btn {
    margin: 87px auto 0;
  }
  

  .footer-first {
    position: relative;
    width: 3 
  }

  .footer-first__social {
    position: absolute;
    flex-direction: row;
    gap: 30px;
    top: 57px;
    left: 52px;
  }

  .footer-third__copyright {
    font-size: 14.6px;
    margin-bottom: 61px;
  }

  .footer-second__nav {
    font-weight: 400;
    gap: 30px;
    left: 11px;
    bottom: -10px;
  }
}