.header {
  height: 80px;
  
}

.header-nav__wrapper {
  width: 100%;
  height: 80px;
  color: #ffffff;
  background: #000000;
}

.header-nav {
  display: flex;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
  
}

.header-logo {
  background: url(../../assets/images/bamboo.png);
  background-repeat: no-repeat;
  background-position: top 33px left 10px;
}

.header-logo__title {
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  padding: 5px;
  border: 1px solid #ffffff;
  border-radius: 2px;
}

.header-links {
  display: flex;
  justify-content: flex-start;
  gap: 58px;
  width: 80%;  
}

.header__burger {
  display: none;
  width: 18px;
  height: 10px;
  margin-bottom: 8px;
  background: url(../../assets/icons/burger_menu.svg);
}

@media (max-width: 1220px) {

  .header-links {
    gap: 48px;
    padding-left: 60px;
  }

  .header-nav {
    max-width: 1000px;
  }
}

@media (max-width: 999px) {

  .header-logo__title {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    border: none;
    padding: 0;
    margin-top: 5px;
  }

  .header-nav__wrapper {
    height: 34px;
    position: absolute;
    top: 0;
  }

  .header-nav {
    width: 640px;
    padding: 0 20px;
  }

  .header-logo {
    background-position: top 10px left 0px;
  }

  .header-links {
    display: none;
  }

  .header-designer {
    display: none;
  }

  .header__burger {
    display: block;    
  }
}